body {
    background-color: antiquewhite;
    margin: 0;
}

main {
    padding-top: 10em;
}
/* Navbar */
.navbar {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 40px;
    align-items: center;
    grid-gap: 10px;
    background-color: black  ;
    padding: 1.5em 0.6em;
    font-size: 2em;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar-title {
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    color: whitesmoke;
    filter: invert(100%);
    padding-left: 5em;
    width: 30%;
}

.navbar-items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 15em;
    font-family: 'Poppins', sans-serif;
}

.navbar-links{
    color: whitesmoke;
    padding: 0 2em;

}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

/* End of Navbar */

/**/


.grid-categories{
    display: grid;
    grid-template-columns: 0.2fr 1fr 1fr 1fr 1fr 1fr 0.2fr;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    background-color: gainsboro;
    padding: 2em;
    margin: 2em auto;
    gap: 2px;
    box-shadow: 5px 5px 15px 5px #000000;
    border-radius: 50% 20% / 10% 40%;
    min-width: 40em;

}

.grid-categories img {
    border-radius: 5px;
}

.category-title{
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.section-categories{
    margin: 0 10em;
    scroll-margin-block-start: 8.5em;
    
}

#section-best-movie{
    margin: 0 10em;
    padding: 1em;
    scroll-margin-block-start: 10.5em;
    display: grid;
    grid-template-columns: 7fr 3fr;
    background-color: gainsboro;
    border-radius: 2%;
    box-shadow: 5px 5px 15px 5px #000000;

}

.article-best-movie{
    border: #000;
    border-width: 1px;
}

.best-movie-img{
    height: 300px;
    justify-self: center;
    align-self: center;
    display: flex;
}

#best-movie-title{
    margin: 0.5em 0 0.5em 0;
    font-size: 2em;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.film, .btn-carousel{
    cursor: pointer;
}

.film{
    min-width: 182px;
    min-height: 268px;
    margin: auto;
}

.title-film{
    width: 182px;
    min-height: 75px;
    word-wrap: break-word;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    
}

/* Popup */
#popup {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.popup-content {
  margin: auto;
  border: 1px solid #888;
  width: 80%;
  position: relative; 
}


.popup-grid-info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px
}

.popup-list {
    border-bottom: 2px solid grey ;
    margin-top: 0.5em;
    list-style-type: none;
}

.section-popup-movie {
    grid-template-columns: 7fr 3fr;
    height: 40em;
    background-color: gainsboro;
    padding: 0.5em;
    gap: 10px;
    width: 100%;
    display: grid;
}

.article-popup-movie{
    height: 100%;
    overflow: scroll;
    background-color: bisque;
}
    
.popup-movie-img{
    height: 400px;
    background-color: brown;
    justify-self: center;
    align-self: center;
}

#popup-title {
    margin: 0.5em 0 0.5em 0;
    font-size: 2em;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

#popup-description {
    margin: auto 40px;
    font-style: oblique;
}

#popup-img{
    margin: auto;
    height: 100%;
}

.item-large{
    grid-column: span 2;
}

.close {
  color: whitesmoke;
  right: 0.5em;
  top: 0.5em;
  position: absolute;
  font-size: 28px;
  font-weight: bold;
  
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
/*End of popup section*/

footer{
    height: 10em;
    margin-top: 5em;
    background-color: rgb(210, 210, 210);
}