body {
    background-color: antiquewhite;
    margin: 0;
}

main {
    padding-top: 10em;
}
/* Navbar */
.navbar {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 40px;
    align-items: center;
    grid-gap: 10px;
    background-color: black  ;
    padding: 1.5em 0.6em;
    font-size: 2em;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbarTitle {
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    color: whitesmoke;
    filter: invert(100%);
    padding-left: 5em;
    width: 30%;
}

.navbarItems {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 15em;
    font-family: 'Poppins', sans-serif;
}

.navbarLinks{
    color: whitesmoke;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

/* End of Navbar */

/**/
.sectionBestMovie {
    display: grid;
    grid-template-columns: 7fr 3fr;
    height: 25em;
    background-color: gainsboro;
    padding: 0.5em;
    gap: 10px;
    width: 100%;
    display: inline-grid;
    overflow: hidden;

}

.articleBestMovie{
    height: 100%;
    background-color: bisque;
    }
.BestMovieImg{
    display: block;
    height: 100%;
    background-color: brown;
    object-fit: cover; object-position: 100% 0;
}

.gridCategories{
    display: grid;
    grid-template-columns: 0.2fr 1fr 1fr 1fr 1fr 1fr 0.2fr;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    background-color: gainsboro;
    padding: 2em;
    margin: 2em auto;
    gap: 10px;
    box-shadow: 5px 5px 15px 5px #000000;
    border-radius: 50% 20% / 10% 40%;
    min-width: 40em;

}

.gridCategories img {
    border-radius: 5px;
}

.categoryTitle{
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.sectionCategories{
    margin: 0 10em;
    scroll-margin-block-start: 8.5em;
    
}


/* Popup */
#popup {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.popup-content {
  margin: auto;
  border: 1px solid #888;
  width: 60%;
  position: relative; 
}

.popupList {
    border-bottom: 2px solid grey ;
    margin-right: 3em;
    margin-bottom: 0.5em;
    list-style-type: none
}

#popupTitle {
    font-size: 3em;
}

#popupImg{
    margin: auto;
    display: block;
    height: 100%;
}

.close {
  color: #b1b1af;
  right: 0.25em;
  top: 0.5em;
  position: absolute;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
/*End of popup section*/


#popupImg {

}
